/* Style the icon bar links */
.social-icons{
  display: block;  
  padding: 0;      
  margin: 0;       
  width: 100%;     
  margin-top: 30px;       
}

.social-icons ul{
  padding: 0;      
}

.social-icons li{
  vertical-align: top;
  display: inline-block; 
}

.social-icons a {
  display: block;
  transition: all 0.3s ease;
  color: black;
  background-color: transparent;
  font-size: 1rem;
}

.fa {
  text-align: center;
  text-decoration: none;
  color: black;
}
@media screen and (max-width : 2000px)
{
  .social-icons a {
    font-size: 2rem;
  }
  
  .fa  {
    line-height: 3rem;
    width: 120px;
  }

  #bw .fa {
    line-height: 1.4rem;
    width: 60px;
  }
}
@media screen and (max-width : 900px)
{
  .social-icons a {
    font-size: 1.1em;
  }

  .fa  {
    line-height: 2.1rem;
    width: 100px;
  }
  
  #bw .fa {
    line-height: 1.0rem;
    width: 40px;
  }

}

@media screen and (max-width : 400px)
{
  .social-icons a {
    font-size: .8em;
 }

  .fa  {
    line-height: 1.6rem;
    width: 50px;
  }
}

a.fa-facebook:hover{
  color:white;
  background: #3B5998;
}

.fa-twitter:hover {
  background-color: #55ACEE;
  color:white;
}

.fa-linkedin:hover {
  background-color: #8d6cab;
  color: white;
}

.fa-github:hover {
  background-color: rgb(36, 41, 47);
  color: white;
}  

.fa-phone:hover {
  background-color: rgb(36, 41, 47);
  color: white;
}

.fa-envelope:hover {
  background-color: #ff9a00;
  color: white;
}


/* B&W */
#bw.social-icons {
  margin-top: 0;
}
#bw.social-icons a {
    display: block;
    padding: 4px;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
    background-color: transparent;
}
 
#bw.fa, #bw.a.fa-facebook, #bw.fa-twitter, #bw.fa-linkedin, #bw.fa-github, #bw.fa-phone, #bw.fa-envelope  {
  color:white;
  background:black;
  padding: 5px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
}

#bw a:hover {
  background-color: white;
  color: black;
}

 